AI_GATEWAY_API_KEY=
AI_GATEWAY_BASE_URL=
AI_GATEWAY_OPENAI_BASE_URL=
AI_MAX_TOKENS=
ALLOWED_USER_EMAILS=
ANTHROPIC_API_KEY=
ANTHROPIC_MAX_TOKENS=
BEDROCK_API_KEY=
BEDROCK_BASE_URL=
GITHUB_ACCESS_TOKEN=
GITHUB_ALLOWED_REPOS=
GIT_COMMIT_EMAIL=
GIT_COMMIT_NAME=
GOOGLE_AI_API_KEY=
GOOGLE_AI_BASE_URL=
LANG=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NODE_ENV=
OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=
PATH=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
TELEGRAM_ALLOWED_USER_IDS=
TELEGRAM_BOT_TOKEN=
VERCEL_PROJECT_NAME=
VERCEL_TEAM_ID=
VERCEL_TOKEN=
WORKSPACE_ROOT=
